# ZK Framework 2026 - Exemple server.cfg
sv_hostname "ZK Framework 2026 - Local"
sv_maxclients 8
sv_licenseKey "YOUR_LICENSE_KEY"

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root:password@127.0.0.1/zk_framework?charset=utf8mb4"

ensure oxmysql
ensure ox_inventory

ensure zk-loadingscreen
ensure zk-db
ensure zk-lib
ensure zk-core
ensure zk-identity
ensure zk-spawn
ensure zk-target
ensure zk-bridge
ensure zk-demo

setr ox_inventory:enableShop true
setr ox_inventory:enableWeaponWheel false
